<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="help.lixin.data.sync.mapper.OrderMapper">
    <select id="selectOrderbyIds" resultType="map">
        SELECT *
        FROM t_order_1 t
        WHERE t.order_id IN
        <foreach collection="orderIds" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </select>
</mapper>